<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"></ion-back-button>
    </ion-buttons>
    <ion-title> {{'Select Address or Add New'| translate }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-radio-group allow-empty-selection = "true" name="radio-group" (ionChange)="radioGroupChange($event)">
      <ion-list-header>
        <ion-label color="primary">Recently Used Addresses</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let item of all_address; let i= index">
        <ion-label>{{item.shipping_first_name }}
        </ion-label>
        <ion-radio slot="start" value="{{i}}" ></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="6" class="ion-no-padding">
        <ion-button class="ion-no-padding" expand="full" color="secondary" (click)="proceedToAddNewAddress()">{{leftButtonText}}</ion-button>
      </ion-col>

      <ion-col size="6" class="ion-no-padding">
        <ion-button  class="ion-no-padding" expand="full" color="secondary" (click)="proceedToOrderApi()" [disabled]="ifDisabled()">Proceed</ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
