.round {
  --width: 100%;
  --height: 100%;
  --vertical-align: middle;
}

ion-footer {
  .toolbar {
    padding-left: 10px;
  }
  ion-grid {
    ion-row {
      ion-col {
        ion-button {
          height: 45px;
          margin: 0;
          margin-bottom: 0;
        }
      }
    }
  }

}

ion-content {
  ion-list {
    ion-radio-group {
      ion-list-header {
        ion-label {
          font-size: 14px;
        }
      }
    }
  }
}

